@model Lab_5___Hootch.Data.Batch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedFinishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedFinishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfWash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfWash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedWashPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedWashPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedYield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedYield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualYield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualYield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentDiff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentDiff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
